%footer
  .container
    %hr
      .row
        .col-md-offset-1.col-md-6.vcenter
          = "#{app_name}"
        .col-md-5.vcenter
          = image_tag "logos/ZT_Lab.gif", size: "32x32"
          = "© #{Time.now.year}"
          = "#{t :site_design}"
    = render 'shared/debug' if ZT_DEBUG