.container
  %h1= t Sample.model_name.human
  %table.table.table-striped
    %tbody
      - @sample.attributes.each do |key, value|
        - if key == 'id' || key.include?('digest') || key == 'created_at' || key == 'updated_at'
          //skip these attributes
        -else
          %tr
            - if key == 'status'
              %td= t 'status.status'
              %td= status_mark @sample.status
            -else
              %td= t "activerecord.attributes.sample.#{key}"
              %td= value
  
      = render 'admin/shared/show_images', object: @sample
  = render 'admin/shared/show_rich_text_content', object: @sample
  = render 'admin/shared/show_actions', object: @sample
