.row
  .col-md-6
    = simple_form_for([:admin, @product], html: {multipart: true}) do |f|
      = f.error_notification message: t('messages.error_notification')

      .form-inputs
        = f.input :name
        = f.input :title
        = f.input :sku
        = f.input :price
        = f.input :description
        = f.rich_text_area :content

        = f.input :status, default: 1
        /= render 'admin/shared/status_buttons', f: f

      .form_actions
        .row
          .col-md-3
            = f.submit t('actions.save'), class: 'btn btn-primary btn-block'
          .col-md-3
            = link_to t('actions.back'), admin_products_path, class: 'btn btn-default btn-block'
